html
  link(rel="stylesheet" href="/css/styles.css")
  div(style='background-image:url(require("https://i.pinimg.com/originals/f6/08/c5/f608c539c3ba9681320571d72fd8a6ca.png))')
    
    head

    body
    