html
  
  head
    link(rel="stylesheet" href="/css/styles.css")
    h1
      img(src="https://tse4.mm.bing.net/th?id=OIP.2Kcx38cQK_375sr5EuC3dQHaCv&pid=Api&P=0&w=493&h=184" alt="Paris" class="center")
      body
      h2 Series One "A" List
        ul
        li GET/ Cards by "A" List
        hr
        li GET/ Cards by "B" List
      h3 Series One "B" List
        ul
        li POST/ New Card
        li DELETE/ Existing Card
        
        